{% extends "templates/base.html" %}
{% load static %}
{% load thumbnail %}

{% block style %}

{% endblock%}

{% block content %}

<div class="row">
    {% for gallery in gallery_list %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h 100">
                {% thumbnail gallery.photos.first.image "300x300" crop="center" as im %}
                    <img class="card-img-top" src="{{ im.url }}" alt="problem">
                {% endthumbnail %}
                <div class="card-body">
                    <h4 class="card-title text--center">{{gallery.title}}</h4>
                </div>
                <div class="card-footer text-center">
                       <a href="{% url 'galleries:gallery_details' gallery.id %}" class="btn-primary">Poka</a>
                </div>


            </div>

        </div>
    {% endfor%}
    {% if galery.status == 'published' %}
    huj
    {% endif %}
</div>
{% endblock content %}