
.env
.venv
.DS_Store
db.sqlite3

users.json
posts/fixtures*

*__pycache__*

_pycache__/
*.py[cod]
*$py.class
*__pycache__*
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.log
.idea
/venv

*_/_pycache__/*
src/MLP_Extraction_Scrapy/spiders/__pycache__/gls_extraction.cpython-38.pyc
/spiders/__pycache__/gls_extraction.cpython-38.pyc

*/__pycache__/
