<!doctype html>

<html lang="en">
{% load static %}

  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
    <!--   STATIC CSS  -->


    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">

    <title>{% block title %} {% endblock %}</title>
    {% block style %} {% endblock %}
  </head>
  <body>
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="{% static '/img/logo.png' %}" width="40" height="32">
          </a>

          <ul class="nav col-6 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'main:hello_world'  %}" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="{% url 'posts:list_view_post'  %}" class="nav-link px-2 text-secondary">Post list</a></li>
            <li><a href="/gallery/list/" class="nav-link px-2 text-secondary">Galeria</a></li>
            <li><a href="/gallery/list/photo/" class="nav-link px-2 text-secondary">Zdjecia</a></li>
            <li><a href="/about/" class="nav-link px-2 text-secondary">About</a></li>
          </ul>
        
          <div class="col-md-3 text-end">
            {% if user.is_authenticated %}
              <a type="button" class="btn btn-outline-primary light me-2"href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a type="button" class="btn btn-outline-primary light me-2" href="{% url 'login' %}">Login</a>
              <a type="button" class="btn btn-outline-primary light me-2" href="{% url 'registration' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
<!--    <h1>Biblioteka</h1>-->
    <br>
    <br>
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>
    <br>
    <br>
    <br>
    <footer>
    <div class="container">

            <br>

              <p>Author: Max Rogowski</p>
                <br>
              <p><a href="https://github.com/MaxKuzaj13/">github</a></p>
          <!--    <p><a href="/about/">about</a></p>-->
<!--              <img src="/static/img/logo.png">-->
              <br>
              <img src="{% static 'img/logo.png' %}" alt="logo">

    </div>

    </footer>

        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>


  </body>
</html>