{% extends "templates/base.html" %}

{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Opis</th>
                <th>Data utworzenia</th>
                <th>Data modyfikacji</th>
            </tr>
        </thead>
            {% for book in books_list %}
            <tr>

                <th>{{book.title}}</th>
                <th>{{book.author}}</th>
                <th>{{book.description}} </th>
                <th>{{book.created }}</th>
                <th>{{book.modified | date:"D d M Y"}}</th>
                <th>{% if book.available %}
                        (Na polce)
                    {% else %}
                        Wypożyczona
                    {% endif %}
                </th>

            </tr>
           {%endfor%}
        </tbody>

    </table>

    <div>
        <br>
        <br>
        <p>Niedlugo uruchomimimy pierwsza biblioteke</p>
    </div>
{% endblock content %}