{% extends "templates/base.html" %}
{% load static %}

{% block content %}
        <div>
            <small>
                <tr>{{detail_view_post.title}}</tr><br>
                <tr>{{detail_view_post.id}}</tr><br>
                <tr>{{detail_view_post.created}}</tr><br>
                <tr>{{detail_view_post.modified}}</tr><br>
                <tr>{{ detail_view_post.image_field }}</tr>
            </small>
        </div>
    {%if detail_view_post.image_field %}
        <img src="{% get_media_prefix %}{{ detail_view_post.image_field }}" alt="Nie weszło" width="300" height="300">
<!--             <img src="{% static 'img/logo.png' %}" alt="logo">-->


    {% endif %}
    <div>
        <p>Niedlugo uruchomimimy pierwsza biblioteke</p>
    </div>

{% endblock content %}