{% extends "templates/base.html" %}
{% load static %}

{% block style %}

{% endblock%}

<!--        <table class="table">-->

<!--         <thead>-->
<!--            <tr>-->
<!--              <th scope="col">#</th>-->
<!--              <th scope="col">First</th>-->
<!--              <th scope="col">Last</th>-->
<!--              <th scope="col">Handle</th>-->
<!--            </tr>-->
<!--          </thead>-->
{% block content %}

    {% for post in posts_list %}

<!--          <tbody>-->
<!--            <tr>-->
<!--              <th scope="row">1</th>-->
<!--              <td>Mark</td>-->
<!--              <td>Otto</td>-->
<!--              <td>@mdo</td>-->
<!--            </tr>-->


<!--          </tbody>-->
<!--        </table>-->
        <div>
            <small>
            <tr>id: {{post.id}}</tr>
            <tr>
            <a href="{% url 'posts:detail_post_view' post.id %}"> Tytół: {{post.title}}</a>
            </tr>
            <tr>Data utworzenia: {{post.created }}</tr>
            <tr>Data modyfikacji: {{post.modified | date:"D d M Y"}}</tr>
                {% if post.sponsored %}
                    (sponsorowany)
                {% endif %}
                <br>
            </small>
        </div>
    {% endfor %}
    <div>
        <p>Niedlugo uruchomimimy pierwsza biblioteke</p>
    </div>

{% endblock content %}